<ion-content padding>

    <img [src]="'assets/img/'+ user.school +'.png'" *ngIf="user.school" alt="Logo" class="login--logo">


    <ion-spinner *ngIf="inLogin" color="light" name="crescent"></ion-spinner>

    <form #f="ngForm" (ngSubmit)="doLogin()">

        <ion-item >
            <ion-label>{{"SELECT_SCHOOL"| translate}}</ion-label>
            <ion-select [(ngModel)]="user.school" name="school">
                <ion-option value="bcit">{{"BCIT" | translate}}</ion-option>
                <ion-option value="devinci">{{"PULV" | translate}}</ion-option>
            </ion-select>
        </ion-item>


        <p>
            <ion-item>
                <ion-label color="light" floating>{{ 'LOGIN_ID'|translate }}</ion-label>
                <ion-input type="text"
                           name="login"
                           color="light"
                           [(ngModel)]="user.login" required>

                </ion-input>
            </ion-item>
        </p>
        <p>
            <ion-item>
                <ion-label color="light" floating>{{ 'PASSWORD'|translate }}</ion-label>
                <ion-input type="password"
                           name="pass"
                           color="light"
                           [(ngModel)]="user.pass" required>
                </ion-input>
            </ion-item>
        </p>
        <p>
            <button ion-button color="secondary" block type="submit" [disabled]="!f.valid || inLogin">{{ 'LOGIN' | translate }}</button>
        </p>
    </form>
</ion-content>