$background: #3f51b5;

page-login.ion-page {
  ion-content {
    background-color: $background;
  }

  ion-spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    width: 50px;
    height: 50px;
    transform: translate(-50%,-50%);
  }

  ion-item{
    background-color: $background;
    padding-left: 0;
    color: #fff;

    &.item-select {
      ion-label {
        color: #fff;
      }
    }
  }

  .login--logo{
    max-width: 70%;
    margin: 25px auto 15px auto;
    display: block;
    max-height: 100px;
  }

}