<ion-content padding>

    <div *ngFor="let event of eventList">
        <ion-item *ngIf="displayDate(event,false)">
            <h2>{{ displayDate(event,true) }}</h2>
        </ion-item>
        <ion-card>
            <ion-card-header [style.background-color]="event.color">
                <h2> {{ event.title }}</h2>
            </ion-card-header>
            <ion-card-content>
                <ion-item>
                    <h2>{{ event.start| date: 'hh:mm'}} - {{ event.end| date: 'hh:mm'}}</h2>
                    <p>{{event.prof}}</p>
                    <h3>{{event.location}}</h3>
                </ion-item>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>