<ion-header color="primary">

    <ion-toolbar color="primary">
        <button ion-button menuToggle left>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Calendar
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title></ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <button ion-item (click)="openPage('logout')">
                Logout
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>